#titulo-id {
    color: darkorange;
}




.fundo-amarelo{
    background-color: yellow;
}


.texto-vermelho{
    color: red;
}



h2{
    color: darkviolet;
}


p{
    color: steelblue;
}


h2{
    color: brown;
}



/* cascata*/
/* expecificações */